__pycache__/
*.pyc
*.pyo

venv/
.env

.config/
dom_sandbox/
dom_cloud/data/
dom_cloud/logs/

*.swp
*.swo
*~
.DS_Store
Thumbs.db

*.mp3
dom_server
dom_interface
readme.txt
.env
*.db
dom_sandbox/core_memory/*.json
dom_cloud/main
**/memory/*.json
updates.txt
.request.json
.response.json
main
dom_hdd.json
dom_ram.json
